<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MigApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MigApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MigApp.Properties.Settings>
            <setting name="userRemembered" serializeAs="String">
                <value>False</value>
            </setting>
        </MigApp.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MigApp.Properties.Settings>
            <setting name="GitApiReleasesUrl" serializeAs="String">
                <value>https://api.github.com/repos/Vanilla76e2/MigApp/releases</value>
            </setting>
        </MigApp.Properties.Settings>
    </applicationSettings>
</configuration>