<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MigApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MigApp.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsEmp" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsPC" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsNB" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsTab" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsOT" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsMon" serializeAs="String">
                <value />
            </setting>
            <setting name="comEmp" serializeAs="String">
                <value />
            </setting>
            <setting name="comPC" serializeAs="String">
                <value />
            </setting>
            <setting name="comNB" serializeAs="String">
                <value />
            </setting>
            <setting name="comTab" serializeAs="String">
                <value />
            </setting>
            <setting name="comOT" serializeAs="String">
                <value />
            </setting>
            <setting name="comMon" serializeAs="String">
                <value />
            </setting>
            <setting name="UserLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RemPass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParamsUsers" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsLogs" serializeAs="String">
                <value />
            </setting>
            <setting name="comUsers" serializeAs="String">
                <value />
            </setting>
            <setting name="comLogs" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsEmpDel" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsPCDel" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsNBDel" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsTabDel" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsOTDel" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsMonDel" serializeAs="String">
                <value />
            </setting>
            <setting name="comEmpDel" serializeAs="String">
                <value />
            </setting>
            <setting name="comPCDel" serializeAs="String">
                <value />
            </setting>
            <setting name="comNBDel" serializeAs="String">
                <value />
            </setting>
            <setting name="comTabDel" serializeAs="String">
                <value />
            </setting>
            <setting name="comOTDel" serializeAs="String">
                <value />
            </setting>
            <setting name="comMonDel" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsPCRep" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsNBRep" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsTabRep" serializeAs="String">
                <value />
            </setting>
            <setting name="comPCRep" serializeAs="String">
                <value />
            </setting>
            <setting name="comNBRep" serializeAs="String">
                <value />
            </setting>
            <setting name="comTabRep" serializeAs="String">
                <value />
            </setting>
            <setting name="UserRole" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="comRout" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsRout" serializeAs="String">
                <value />
            </setting>
            <setting name="comRoutDel" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsRoutDel" serializeAs="String">
                <value />
            </setting>
            <setting name="comSwitch" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsSwitch" serializeAs="String">
                <value />
            </setting>
            <setting name="comSwitchDel" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamsSwitchDel" serializeAs="String">
                <value />
            </setting>
        </MigApp.Properties.Settings>
    </userSettings>
</configuration>